@media (max-width:715px) {
    .navbarPhone{
    display: flex;
    }

    .navbarPhone{
        position: fixed;
        display: none;
        width: 0%;
        height: 0px;
        left:20%;
        z-index: -20;
        clip-path: circle(0% at center center);
        transition: 1s;
        justify-content: center;
        margin-left: -9999px;
        align-items: center;
    }
    .navbarPhone::before{
        content: "";
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        width: 100%;
        background-color: rgba(43, 12, 38, 0.521);
        z-index: -20;
    }
    #open
    {
        display:flex;
        justify-content: center;
        align-items: center;
        width: 15%;
        height: 50%;
        z-index: 30;
        transition: 2s;
    }
    #open::before{
        content: "";
        border:0;
    }
    .close{
        position: absolute;
        right: 0;
        top:0;
        width: 22%;
        height: 13%;
        background-image: url('../img/icons/closeNavIcon.png');
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: center;
        transform: rotate(0deg);
        filter: invert(1);
        transition: 500ms;
        z-index: 30;
    }
    .iconOpen{
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url('../img/icons/openNavIcon.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
        filter: invert(1);
        z-index: 30;
    }
    .fullnav
    {
        position: absolute;
        width:100%;
        height: 0%;
        z-index: -19;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
        margin-top: -5000px;
        width: 80%;
        height: 650px;
        z-index: 15;
        clip-path: circle(90% at center center);
    }
    a , .opcionesPhone
    {
        position: relative;
        top: 10%;
        display: flex;
        width: 80%;
        height: 18%;
        z-index: 40;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        color:white;
        width: 80%;
        border-bottom:none;
        border-radius: 0.3rem;
    }
    .icons{
        position: relative;
        width: 30%;
        height: 80%;
        margin-top: 5%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 60%;
        filter:invert(1);
    }
    .h{background-image: url('../img/icons/home.png');}
    .a{background-image: url('../img/icons/aboutMe.png');}
    .s{background-image: url('../img/icons/skills.png');}
    .co{background-image: url('../img/icons/contact.png');}

    .facesTextSliders::before{
        width: 18%;
    }
}
@media (max-width:380px) {
  .sliderText{
    width: 95%;
    left: 2.5%;
  }

  .Contentainer2 .text{
    font-size: 22px;
    height: 70%;
    bottom: 10%;
  }
  .Contentainer2 .text::after{
    bottom:6%;
  }
  .container3{
    height: 1200px;
  }
}
@media (max-width:350px) {
    /*sliderText*/
    .contenedores{
        top:25%;
        height: 30%;
    }
    .sliderText
    {
        bottom: 15%;
    }
    .c2, .c5, .c6, .c7, .c8{
        font-size: 50px;
    }
    .skillTitle{
        top:2%;
    }
    .skillBar{
        top:6%;
        height: 15%;
    }
}
@media (max-width:330px) {
    .facesTextSliders::before{
        width: 22%;
    }
}