:root {
    --bgMain1: rgb(49, 6, 15);
    --contenedor1: rgba(54, 5, 35, 0.699);
    --contenedor2: rgba(58, 8, 8, 0.699);
    --contenedor3: rgba(58, 8, 8, 0.699);
    --contenedor4: rgba(58, 8, 8, 0.699);
    --contenedores: rgb(97, 20, 37);
    --contenedoresTextoBg: rgb(97, 20, 37);
    --container2: rgba(117, 54, 64, 0.814);
    --aboutMeBg: rgb(97, 20, 37);
    --picBg: rgba(54, 5, 35, 0.699);
    --navbar: rgba(54, 5, 35, 0.699);
    --skillBarBg: rgba(71, 12, 34, 0.562);
    --contactBg: rgba(73, 11, 40, 0.733);
    --skillsBg: rgba(255, 255, 255, .367);
    --contenedoresSombras: rgba(77, 21, 21, 0.473);
    --containerShadows: rgba(124, 69, 78, 0.665);
    --imgContainer2Bg: rgba(146, 56, 70, 0.94);
    --imgContainer2BgAfter: rgba(151, 77, 77, 0.627);
    --skillShadow: rgba(118, 39, 124, .586);
    --transparenciaMorado: rgba(93, 16, 67, .368);
    --transparenciaRojo: rgb(255, 128, 151, 27%);
    --whiteText: white;
    --blackText: white;
    --transparenciaBlanco: rgba(253, 251, 252, .877);
    --transparenciaNegro: rgba(22, 21, 22, .345);
    --navText: rgb(255, 253, 253);
    --textSliders: rgb(104, 28, 53);
    --textPink: pink;
    --resaltador: rgba(220, 85, 85, .685);
    --facesBg: rgb(226, 173, 143);
    --facesBg2: rgb(233, 175, 207);
  }
  